{% extends 'main/base.html '%}

{% block title %}
Контакты
{% endblock %}
{% block links %}
                <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Главная</a></li>
                <li><a href="{% url 'cabinets' %}" class="nav-link px-2 link-dark">Кабинеты</a></li>
                <li><a href="{% url 'stock' %}" class="nav-link px-2 link-dark">Инвентарь</a></li>
                <li><a href="{% url 'faqs' %}" class="nav-link px-2 link-dark">FAQs</a></li>
                <li><a href="{% url 'contacts' %}" class="nav-link px-2 link-secondary">Контакты</a></li>
{% endblock %}
{% block content %}
    <main>
        <section class="py-3 text-left container">
            <div class = "layer1">
                <div class="row-xl-auto py-lg-auto">
                    <div class=".col-xl-auto col-md-auto mx-3">
                        <h1 class="fw-dark">Это наша команда:</h1>
                        <p class="lead text-dark"> &nbsp; </p>
                        <div class="row g-6 mb-1 ">
                            <div class="col-md-6 ">
                                <div class="row g-2 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                    <div class="col p-4 d-flex flex-column position-static">
                                        <strong class="d-inline-block mb-2 text-primary">BackEnd</strong>
                                        <h3 class="mb-2">Группа Бэкэндеров</h3>
                                        <div class="mb-3 text-muted">Студенты РТУ МИРЭА</div>
                                        <p class="card-text-center mb-auto">Здесь будет что-то написано про Бэкеэнеров</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row g-2 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                    <div class="col p-4 d-flex flex-column position-static">
                                        <strong class="d-inline-block mb-2 text-danger">FrontEnd</strong>
                                        <h3 class="mb-2">Группа Фронтендеров</h3>
                                        <div class="mb-3 text-muted">Студенты РТУ МИРЭА</div>
                                        <p class="card-text-center mb-auto">Здесь будет что-то написано про Фронтэндеров</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layer2">
                <div class="row-xl-auto py-lg-auto">
                    <div class=".col-xl-auto col-md-auto mx-3">
                        <h1 class="fw-dark">Главные преимущества проекта</h1>
                        <p class="lead text-dark"> &nbsp; </p>
                        <div class="row g-6 mb-1 ">
                            <div class = "layer_var">
                                <div class="col-md-auto text-center">
                                    <div class="row g-4 py-5 row-cols-lg-2">
                                        <div class="col_1 border rounded shadow-sm">
                                            <h4>Идея 1</h4>
                                            <p>Какой-то заумный текст о том, какие цели преследует проект, зачем же нужно узнавать какой инвентарь распихан по кабинетам. В общем все то, что можно написать, пока не закончится фантазия...</p>
                <!--                        <a href="#" class="icon-link">
                Поле для встраивания гиперссылки   Call to action
                                                <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                                            </a> -->
                                        </div>
                                        <div class="col_2 border rounded shadow-sm">
                                            <h4>Идея 2</h4>
                                            <p>Какой-то заумный текст о том, какие цели преследует проект, зачем же нужно узнавать какой инвентарь распихан по кабинетам. В общем все то, что можно написать, пока не закончится фантазия...</p>
                                        </div>
                                        <div class="col_3 border rounded shadow-sm">
                                            <h4>Идея 3</h4>
                                            <p>Какой-то заумный текст о том, какие цели преследует проект, зачем же нужно узнавать какой инвентарь распихан по кабинетам. В общем все то, что можно написать, пока не закончится фантазия...</p>
                                        </div>
                                        <div class="col_4 border rounded shadow-sm">
                                            <h4>Идея 4</h4>
                                            <p>Какой-то заумный текст о том, какие цели преследует проект, зачем же нужно узнавать какой инвентарь распихан по кабинетам. В общем все то, что можно написать, пока не закончится фантазия...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class = "text-center container">
            <p>
                <a href="{% url 'home' %}" class="btn btn-secondary my-2">На главную</a>
            </p>
        </section>

    </main>
{% endblock %}
