{% extends 'main/base.html '%}

{% block title %}
Страница про кабинеты
{% endblock %}
{% block links %}
                <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Главная</a></li>
                <li><a href="{% url 'cabinets' %}" class="nav-link px-2 link-secondary">Кабинеты</a></li>
                <li><a href="{% url 'stock' %}" class="nav-link px-2 link-dark">Инвентарь</a></li>
<!--                <li><a href="{% url 'faqs' %}" class="nav-link px-2 link-dark">FAQs</a></li>-->
                <li><a href="{% url 'contacts' %}" class="nav-link px-2 link-dark">Контакты</a></li>
{% endblock %}
{% block content %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-6">
                <div class="col-md-6 p-2 py-4 offset-md-3 border border-2 rounded shadow-sm">
                    <h1 class="fw-dark">Кабинеты</h1>
                    {% if user.is_authenticated %}
                        <div class="dropdown py-4">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Редактирование кабинетов
                            </button>
                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item active" href="{% url 'create_room' %}">Добавить комнату</a></li>
                                <li><a class="dropdown-item" href="{% url 'cabinets' %}">Удалить комнату</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'cabinets' %}">Обновить страницу</a></li>
                            </ul>
                        </div>
                    {% else %}
<!--                            <a href="{% url 'create_room' %}" class="btn btn-outline-primary my-2" style="width: 150; height: 40"> Добавить запись </a>-->
                    {% endif %}
                    {% if rooms %}
                        <form method="post">
                            {% csrf_token %}
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Комната</th>
                                  <th scope="col">Описание</th>
                                </tr>
                              </thead>
                                <tbody>
                            {% for el in rooms %}
                                <tr>
                                    <td class="table-light align-middle"><button class="btn btn-light" style="padding:0" type="submit" name="id" value="{{el.id}}">{{el.name}}</button></td>
                                    {% if not el.description %}
                                        <td class="table-light text-break align-middle">Нет описания</td>
                                    {% else %}
                                        <td class="table-light text-break align-middle">{{el.description}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    {% else %}
                            <p>Нет записей о комнатах</p>
                    {% endif %}
                </div>
                <p class="py-2">
                    <a href="{% url 'home' %}" class="btn btn-outline-secondary my-2">На главную</a>
                </p>
            </div>
        </section>
    </main>
{% endblock %}