{% extends 'main/base.html '%}

{% block title %}
Страница про кабинеты
{% endblock %}
{% block links %}
                <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Главная</a></li>
                <li><a href="{% url 'cabinets' %}" class="nav-link px-2 link-secondary">Кабинеты</a></li>
                <li><a href="{% url 'stock' %}" class="nav-link px-2 link-dark">Инвентарь</a></li>
                <li><a href="{% url 'faqs' %}" class="nav-link px-2 link-dark">FAQs</a></li>
                <li><a href="{% url 'contacts' %}" class="nav-link px-2 link-dark">Контакты</a></li>
{% endblock %}
{% block content %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-6">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-dark">Кабинеты</h1>
                </div>
                <p>
                    <a href="{% url 'home' %}" class="btn btn-secondary my-2">На главную</a>
                </p>
            </div>
        </section>

    </main>
{% endblock %}