{% extends 'main/base.html '%}
{% load static %}
{% block title %}
Страница про объект интерьера
{% endblock %}
{% block links %}
                <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Главная</a></li>
                <li><a href="{% url 'cabinets' %}" class="nav-link px-2 link-secondary">Кабинеты</a></li>
                <li><a href="{% url 'stock' %}" class="nav-link px-2 link-dark">Инвентарь</a></li>
<!--                <li><a href="{% url 'faqs' %}" class="nav-link px-2 link-dark">FAQs</a></li>-->
                <li><a href="{% url 'contacts' %}" class="nav-link px-2 link-dark">Контакты</a></li>
{% endblock %}
{% block content %}
    <main>
        <section class="py-5 text-center container">
            <div class="col-md-6 p-2 py-4 offset-md-3 border border-2 rounded shadow-sm">
                <div class="row">
                    <div class="col">
                        <div>
                            <h1 class="fw-dark">{{object.name}}</h1>
                        {% if user.is_authenticated %}
                            <div class="dropdown">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">Изменить объект интерьера</button>
                                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
                                        <li><button class="dropdown-item" type="submit" name="update" value="True">Редактировать объект интерьера</button></li>
                                        <li><button class="dropdown-item" type="submit" name="delete" value="True">Удалить объект интерьера</button></li>
                                    </ul>
                                </form>
                            </div>
                        {% endif %}
                        </div>
                        {% if object.description %}
                            <div class="py-3">
                                <textarea class="form-control" style="resize: none" id="exampleFormControlTextarea5" rows="3" disabled>{{object.description}}</textarea>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
             <div class="col-md-6 p-2 py-4 offset-md-3 border border-2 rounded shadow-sm">
                {% if displace %}
                    <form method="post">
                        {% csrf_token %}
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Предмет</th>
                              <th scope="col">Откуда</th>
                              <th scope="col">Куда</th>
                              <th scope="col">Дата и время</th>
                            </tr>
                          </thead>
                            <tbody>
                        {% for el in displace %}
                            <tr>
                                <td><button class="btn btn-light" style="padding:0" type="submit" name="object" value="{{el.object.name}}">{{el.object.name}}</button></td>
                                <td class="table-light">{{el.from_room.name}}</td>
                                <td class="table-light">{{el.to_room.name}}</td>
                                <td class="table-light">{{el.date}}</td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </form>
                {% else %}
                        <p>Нет записей об перемещениях</p>
                {% endif %}
                <p>
             </div>
        </section>
    </main>
{% endblock %}