<html>
    <head>
        <title></title>
    </head>
<body bgcolor="#DCDCDC"> 
        <center>                      
          <table width="1350" height="70" cols="3"> 
		<tr>
			<td>
				<div id="cke_pastebin">
					<span style="color:#DCDCDC;"><strong><span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:40px;"></span></span></strong></span></div>	
			</td>
			<td>
				
			</td>
			<td>
				

      </table>


<table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 33%;">
				<a href="page2.html"><p align="center"><img alt="1" src="11.jpeg" style="width: 350px; height: 220px; margin-top: 10px; "/></a></td>
			<td style="width: 33%;">
				<a href="page3.html"><p align="center"><img alt="2" src="12.jpg" style="width: 350px; height: 220px; margin-top: 10px;" /></a></td>
			<td style="width: 33%;">
				<a href="page4.html"><p align="center"><img alt="3" src="13.jpg" style="width: 350px; height: 220px; margin-top: 10px;" /></a></td>
		</tr>
		<tr>
			<td style="width: 33%;">
				<a href="page2.html"><p align="center"><font color="#000000">Кабинет</font></a></td>	
			<td style="width: 33%;">
				<a href="page3.html"><p align="center"><font color="#000000">Офис</font></a></td>
			<td style="width: 33%;">
				<a href="page4.html"><p align="center"><font color="#000000">Библиотека</font></a></td>
		</tr>
	</tbody>
</table>
</script><h2></h2>
<table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">		
<tbody>
<tr>
			<td style="width: 33%;">
				<a href="page5.html"><p align="center"><img alt="1" src="14.jpg" style="width: 350px; height: 220px; margin-top: 20px;" /></a></td>
			<td style="width: 33%;">
				<a href="page6.html"><p align="center"><img alt="2" src="15.jpg" style="width: 350px; height: 220px; margin-top: 20px;" /></a></td>
			<td style="width: 33%;">
				<a href="page7.html"><p align="center"><img alt="3" src="16.jpg" style="width: 350px; height: 220px; margin-top: 20px;" /></a></td>
		</tr>
		<tr>
			<td style="width: 33%;">
				<a href="page5.html"><p align="center"><font color="#000000">Столовая</font></a></td>
			<td style="width: 33%;">
				<a href="page6.html"><p align="center"><font color="#000000">Буфет</font></a></td>
			<td style="width: 33%;">
				<a href="page7.html"><p align="center"><font color="#000000">Спортзал</font></a></td>
		</tr>
	</tbody>
</table>
</script><h2></h2>
<table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">		
<tbody>
<tr>
			<td style="width: 33%;">
				<a href="page8.html"><p align="center"><img alt="1" src="17.jpg" style="width: 350px; height: 220px; margin-top: 20px;" /></a></td>
			<td style="width: 33%;">
				<a href="page9.html"><p align="center"><img alt="2" src="18.jpg" style="width: 350px; height: 220px; margin-top: 20px;" /></a></td>
			<td style="width: 33%;">
				<a href="page10.html"><p align="center"><img alt="3" src="19.jpg" style="width: 350px; height: 220px; margin-top: 20px;" /></a></td>
		</tr>
		<tr>
			<td style="width: 33%;">
				<a href="page8.html"><p align="center"><font color="#000000">Лаборатория</font></a></td>
			<td style="width: 33%;">
				<a href="page9.html"><p align="center"><font color="#000000">Зона отдыха</font></a></td>
			<td style="width: 33%;">
				<a href="page10.html"><p align="center"><font color="#000000">Галерея</font></a></td>
		</tr>
	</tbody>
</table>
</html>

