{% extends 'main/base.html '%}

{% block title %}
Главная страница
{% endblock %}
{% block links %}
                <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Главная</a></li>
                <li><a href="{% url 'cabinets' %}" class="nav-link px-2 link-dark">Кабинеты</a></li>
                <li><a href="{% url 'stock' %}" class="nav-link px-2 link-dark">Инвентарь</a></li>
<!--                <li><a href="{% url 'faqs' %}" class="nav-link px-2 link-dark">FAQs</a></li>-->
                <li><a href="{% url 'contacts' %}" class="nav-link px-2 link-dark">Контакты</a></li>
{% endblock %}
{% block content %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-6">
                <div class="col-lg-10 col-md-10 mx-auto">
                    <h1 class="fw-dark">Какую задачу вы хотите выполнить?</h1><br>
                    <div class="=col-lg-8 col-md-8 mx-auto">
                        {% if user.is_authenticated %}
                            <p class="lead text-dark p-2">Как зарегистрированному пользователю, вам доступны для просмотра кабинеты и инвентарь. Нажмите одну из кнопок ниже, чтобы открыть страницы просмотра и изменений</p>
<!--                            <p class="lead text-dark"></p>-->
                        {% else %}
                            <p class="lead text-dark">Вам доступны для просмотра кабинеты и инвентарь, нажмите одну из кнопок ниже, чтобы открыть страницы просмотра</p>
                        {% endif %}
                    </div>
                    <p>
                        {% if user.is_authenticated %}
                            <a href="{% url 'cabinets' %}" class="btn btn-primary my-2">Кабинеты</a>
                            <a href="{% url 'stock' %}" class="btn btn-primary my-2">Инвентарь</a>
                        {% else %}
                            <a href="{% url 'cabinets' %}" class="btn btn-primary my-2">Посмотреть кабинеты</a>
                            <a href="{% url 'stock' %}" class="btn btn-primary my-2">Посмотреть инвентарь</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </section>
        <br>
        <div class="container-xl py-lg-5">
            <div class="row-lg-6 py-lg-5"></div>
        </div>
        <br>
        <section>
            <div class="py-xl-5 text-start container">
                <div class="row py-xl-5 text-center">
                    <div class="col-sm-12 col-md-offset-1 col-md-10"></div>
                        <h1>О проекте</h1>
                </div>
                <div class="py-1 text-center container">
                    <div class="container">
                        <div class="row gx-5">
                            <div class="col">
                                <div class="p-3 border rounded overflow-hidden shadow-sm bg-white">
                                    <h2 class="text-dark">Цели</h2>
                                    <div class="py-2 px-4 text-start text-dark" style="height: 170px">
                                        <p>Что-то рассказать о целях проекта, обязательно придумать, а то будет нехорошо</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-3 border rounded overflow-hidden shadow-sm bg-white">
                                    <h2>Задачи</h2>
                                    <div class="py-2 px-4 text-start" style="height: 170px">
                                        <h5>Мы выполнили такие задачи:</h5>
                                        <ul class="list-start">

                                                <li>Сделать сайт</li>
                                                <li>Сделать БДшку</li>
                                                <li>Сделать регистрацию</li>
                                                <li>Сделать редактирование объектов БД с сайта</li>
                                                <li>Сделать что-то (придумать)</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row gy-4 ps-4 pe-0">
                                <div class="col-md-12 offset-md-0 text-start ">
                                    <div class="col border rounded shadow-sm">
                                        <h3 class="p-4">Что использовали для реализации проекта</h3>
                                            <div class="clearfix px-4">
                                                <h5>То что использовали 1 (django)</h5>
                                                <p>
                                                    A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
                                                </p>
                                                <h5>То что использовали 2 (bootstrap)</h5>
                                                <p>
                                                    As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no tangible information at. It simply takes up space and should not really be read.
                                                </p>
                                                <h5>То что использовали 3 (etc)</h5>
                                                <p>
                                                    And yet, here you are, still persevering in reading this placeholder text, hoping for some more insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there's none of that here.
                                                </p>
                                                <br>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row gy-4 ps-4 pe-0">
                                <div class="col-md-12 offset-md-0 text-start ">
                                    <div class="col border rounded shadow-sm">
                                        <h3 class="p-4">Что изучили, пока делали проект</h3>
                                        <dl class="dl-horizontal px-4">
                                            <dt>HTML</dt>
                                            <dd>Стандартный язык разметки документов во Всемирной паутине.</dd>
                                            <dt>CSS</dt>
                                            <dd>Формальный язык описания внешнего вида документа, написанного с использованием языка разметки.</dd>
                                            <dt>JavaScript</dt>
                                            <dd>Прототипно-ориентированный сценарный язык программирования. Является диалектом языка ECMAScript.</dd>
                                            <dt>Django</dt>
                                            <dd>Бесплатный и свободный фреймворк для веб-приложений, написанный на Python.</dd>
                                        </dl>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </section>
    </main>
{% endblock %}