{% extends 'main/base.html '%}

{% block title %}
Страница для добавления кабинета
{% endblock %}
{% block links %}
                <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Главная</a></li>
                <li><a href="{% url 'cabinets' %}" class="nav-link px-2 link-dark">Кабинеты</a></li>
                <li><a href="{% url 'stock' %}" class="nav-link px-2 link-secondary">Инвентарь</a></li>
<!--                <li><a href="{% url 'faqs' %}" class="nav-link px-2 link-dark">FAQs</a></li>-->
                <li><a href="{% url 'contacts' %}" class="nav-link px-2 link-dark">Контакты</a></li>
{% endblock %}
{% block content %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-md-4">
                <div class="col-md-6 offset-md-3 py-1">
                    <h1 class="fw-dark">Список объектов интерьера</h1>
                    {% if user.is_authenticated %}
                        <div class="dropdown py-4">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Действия с инвентарём
                            </button>
                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item active" href="">Добавить инвентарь</a></li>
                                <li><a class="dropdown-item" href="{% url 'displacement' %}">Просмотр переходов</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row py-lg-6">
                <div class="col-md-6 p-2 py-4 offset-md-3 border border-2 rounded shadow-sm">
                    {% if object_list %}
                        <form method="post">
                            {% csrf_token %}
                            <table class="table">
                              <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Название предмета</th>
                                    <th scope="col">Кабинет, в котором находится</th>
                                </tr>
                              </thead>
                                <tbody>
                            {% for el in object_list %}
                                <tr>
                                    <td>{{el.id}}</td>
                                    <td class="table-light"><a href="{% url 'stock_detail' el.id %}" class="nav-link px-2 link-dark">{{el.name}}</a></td>
                                    <td class="table-light"><a href="{% url 'room' el.room.id %}" class="nav-link px-2 link-dark">{{el.room}}</a></td>
                                </tr>
                            {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    {% else %}
                            <p>Нету созданных предметов интерьера</p>
                    {% endif %}
                </div>
                <p class="py-2">
                    <a href="{% url 'home' %}" class="btn btn-outline-secondary my-2">На главную</a>
                </p>
            </div>
        </section>

    </main>
{% endblock %}