{% extends 'main/base.html '%}

{% block title %}
Страница про инвентарь
{% endblock %}
{% block links %}
                <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Главная</a></li>
                <li><a href="{% url 'cabinets' %}" class="nav-link px-2 link-dark">Кабинеты</a></li>
                <li><a href="{% url 'stock' %}" class="nav-link px-2 link-secondary">Инвентарь</a></li>
<!--                <li><a href="{% url 'faqs' %}" class="nav-link px-2 link-dark">FAQs</a></li>-->
                <li><a href="{% url 'contacts' %}" class="nav-link px-2 link-dark">Контакты</a></li>
{% endblock %}
{% block content %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-6">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-dark">Инвентарь</h1>
                        {% if user.is_authenticated %}
                            <div class="dropdown py-4">
                                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                    Редактирование кабинетов
                                </button>
                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
                                    <li><a class="dropdown-item active" href="{% url 'create_room' %}">Добавить инвентарь</a></li>
                                    <li><a class="dropdown-item" href="{% url 'cabinets' %}">Редактировать инвентарь</a></li>
                                    <li><a class="dropdown-item" href="{% url 'displacement' %}">Просмотр переходов</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'cabinets' %}">Обновить страницу</a></li>
                                </ul>
                            </div>
                        {% else %}
<!--                            <a href="{% url 'create_room' %}" class="btn btn-outline-primary my-2" style="width: 150; height: 40"> Добавить запись </a>-->
                        {% endif %}
<!--                    <a href="{% url 'stock' %}" class="btn btn-outline-primary my-2" style="width: 150; height: 40"> Добавить запись </a>-->
                </div>



                <p>
                    <a href="{% url 'home' %}" class="btn btn-outline-secondary my-2">На главную</a>
                </p>
            </div>
        </section>

    </main>
{% endblock %}
